img{
    width: 50px;
    height: 50px;
}

#trooper{
    width: 500px;
    height: 500px;
    
}

#vader{
    width: 500px;
    height: 500px;
}

#under{
    width: 500px;
    height: 500px;
}

#under2{
    width: 500px;
    height: 500px;
}

#pda{
  width: 200px;
  height: 200px;
}


h1{
    color: beige; font-size: 60px; font-family: 'Times New Roman', Times, serif; font-style: italic;}
marquee{color: red; font-size: 18px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{

    color: beige;font-family: 'Times New Roman', Times, serif; font-style: italic;
}

$color: #ffe9e9;
$color-dark: darken($color, 10%);
$color-border: rgba(darken($color, 60%), .45);
$color-text: darken($color, 85%);

body {
    align-items: center;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

.c-button {
  background: $color;
  border-radius: 3em;
  border: 0;
  border: 3px solid $color-border;
  color: $color-text;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 1.25em 2em;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
    
  &::before {
    background: $color-dark;
    border-radius: inherit;
    box-shadow:
      0 0 0 2px $color-border,
      0 .6em 0 0 rgba($color, .6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, .75em, -1em);
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
    width: 100%;
  }

  

  &:active {
    background: $color;
    transform: translate(0, .75em);

    &::before {
      box-shadow:
        0 0 0 3px $color-border,
        0 0 $color;
      transform: translate3d(0, 0, -1em);
    }
  }
}